
tmhmm4_microglia/query.fasta
sig_results_anova.xlsx
~$sig_results_anova.xlsx
*.zip
Secreted Data/protein_class_SPOCTOPUS.xml/__MACOSX/._protein_class_SPOCTOPUS.xml
Secreted Data/protein_class_SPOCTOPUS.xml/protein_class_SPOCTOPUS.xml
~$ail Draft.docx
htp_all.xml
