/* Reset default margin and padding */
body, h1, h2 {
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: #333; /* Adjust color as desired */
    color: white;
    text-align: center;
    padding: 20px 0; /* Add padding to top and bottom */
}

/* Style the h1 (main header) */
header h1 {
    font-size: 36px; /* Adjust font size as desired */
}

/* Style the h2 (subheader) */
header h2 {
    font-size: 18px; /* Adjust font size as desired */
}

/* Hide dropdown menus by default */
.dropdown-content {
    display: none;
}

/* Show dropdown menus when 'show' class is added */
.dropdown-content.show {
    display: block;
}

/* Styling filter buttons */
.filter-btn {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #e0e0e0;
}

/* Dropdown menu styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    margin-left: 10px;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f2f2f2;
}

/* Hide filter panel by default */
#filter-panel {
    display: none;
}

/* Show filter panel when 'show' class is added */
#filter-panel.show {
    display: block;
    margin-left: 10px;
}

/* Styling "Apply Filters" button */
#apply-filters-btn {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Add spacing between "Apply Filters" button and filter buttons */
}

#apply-filters-btn:hover {
    background-color: #e0e0e0;
}


.filter-panel:hover {
    background-color: #e0e0e0;
}